/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lato:wght@300;400;700&display=swap');


body {
  font-family: 'Lato', sans-serif;
  background: linear-gradient(90deg, #004e92, #000428);
  color: #e0e0e0;
  margin: 0;
  padding: 0 20px;
  font-size: 1rem;
  line-height: 1.6;
  min-height: 100vh;
  overflow-x: hidden;
}


/* Navbar Styles */
.navbar {
  padding: 0.4rem 1.2rem;
  min-height: 10px;
  font-size: 1rem;
  background: linear-gradient(90deg, #004e92, #000428); /* Deep blue gradient */
  box-shadow:
    4px 4px 8px rgba(0, 0, 0, 0.4),
    -4px -4px 8px rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  margin: 1px;
  border: 1px solid #1c1c1c;
}

.navbar .nav-link, .navbar-brand {
  padding: 0.5rem 1rem;
  color: #ffffff !important;
  font-weight: 600;
}

.navbar .nav-link:hover {
  color: #ffd369 !important;
  text-shadow: 0 0 5px rgba(255, 211, 105, 0.5);
}

/* Content Containers */
section, div, .quarto-title, .cell {
  background:linear-gradient( #004e92, #000428);
  border-radius: 20px;
  box-shadow:
   8px 8px 16px #00001a,      
  -8px -8px 16px #0050aa;     
  padding: 20px;
  margin: 20px 0;
}

/* Headings */
h1, h2, h3, h4 {
  font-family: 'Dancing Script', cursive;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 1px;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.4);
  margin-bottom: 0.5rem;
}


/* Profile Image Styling */
img {
  border-radius: 50%;
  box-shadow:
    8px 8px 16px #00001a,      
  -8px -8px 16px #0050aa;     
  margin-bottom: 15px;
}

/* Lists */
ul, ol {
  padding-left: 20px;
}

/* Buttons */
button, .btn {
  background: #00001a;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 12px;
  border: none;
  font-family: 'Poppins', sans-serif;
  box-shadow:
    8px 8px 16px #00001a,      
  -8px -8px 16px #0050aa;     
  cursor: pointer;
}

button:hover {
  background: #ffd369;
  color: #000;
  font-weight: bold;
}

/* Code */
code, pre {
  background-color: #1e1f24;
  padding: 6px 12px;
  border-radius: 10px;
  color: #ffdd88;
  font-family: 'Courier New', monospace;
}
